.block{
    background: linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.1) 100%), url("/public/images/books-shelves.jpg");
    background-size: cover;
    height: 481px;
    width: 100%;
}

.container{
    max-width: 1440px;
    height: 481px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    align-self: center;
    color: white;
    padding: 0 10px;
    text-align: center;

}
@media only screen and (max-width: 480px) {
    .main-title{
        font-size: 22px;
    }
}