.small-links{
    text-decoration: none;
    color:#3563E9;
    font-size:14px;
    font-family: Inter;
    border: none;
    cursor: pointer;
}
.links-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0 0 0;
    cursor: pointer;

}
